doctype html

html
    head
        block head
            title= title
            script(type='text/javascript' src='/vendors/angular/traceur-runtime.js')
            script(type='text/javascript' src='/vendors/angular/system.js')
            script(type='text/javascript' src='/vendors/angular/store.js')
            script(type='text/javascript' src='/vendors/angular/angular2.dev.js')
    body
        block content
