doctype html

html(ng-app, lang="zh")
    head
        block head
            title= title
            meta(name="description", content="mean")
            meta(name="keywords", content="mean")
            meta(name="author", content="awwwesssooooome")
                
    body
        block content

        script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
        script.
            window.angular || document.write('<script src="/vendors/angular/angular.dev.js"><\/script>')
